/Frames
new_sample.mp3
Test/
sample.mp3
new_sample.mp3
Crop Images.ipynb
Frames/
image_segmentation_test.ipynb
detecting_objects.ipynb
cropped.png
'Crop Images.ipynb'
1.jpeg
images_similarity.ipynb
.ipynb_checkpoints
librosaTests.ipynb
Data/
oldFrames/
